/**************** Overall Body and Margins ****************/

/*120 left and right, 80 top and bottom*/

body {
    font-family: "Open Sans", Sans-serif;
}


/**********************************************************/

/**************** Navigation Bar ****************/

nav {
    display: flex;
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0px;
    justify-content: space-between;

}

nav a:visited, nav a:active, nav a:link{
    color:white;

}

nav a:hover{
    text-decoration: underline;
}

nav ul li a {

    text-decoration: none;
}

nav ul li a:visited {
    color: white;
}

#left-nav {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin-left: 120px;
    padding: 0;
}

#left-nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-nav {
    display: flex;
    list-style: none;
    margin-right: 120px;
}

#right-nav li {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
}


#paw-print {
    height: 52px;
    width:  48px;
    margin-right: 10px;
}

#muddy-paws {
    font-weight: 700;
    font-size: 24px;

}

#shopping-cart {
    width: 45px;
    height: 50px;
}

#cart-total {
    display: flex;
    justify-content: center;
}

#center-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-search {
    font-size: 24px;
    height: 36px;
    width: 400px;
    background-color: black;
    border-style: hidden;
    border-bottom-style:groove;
    color: white;
}

/************************************************/

/***************Content*****************/
#content {
    margin: 50px 120px;
    display: flex;
}

#content h1 {
    font-weight: 900;
    font-size: 48px;
    margin-top: 0px;
}

h2 {
    font-size: 36px;
}

ul {
    padding-left: 20px;
}

#filter-bar {
    margin-top: 0px;
}

#filter-bar li {
    font-size: 24px;
    font-weight: bold;

}

#products {
    margin: 100px;
}

#row1 {
    display: flex;
}

#row2 {
    display: flex;
}

.checked {
    color: #c0ad00;
    border-color: #B58D00;
    border: 1px line;
    
}

.product-unit img {
    width: 240.23px;
    height: 196px;
    border-radius: 10px;
}

.product-unit {
    margin: 20px;
    font-size: 24px;
    
}

.name {
    font-weight: bold;
}



/************************************************/


/** Footer******************************/
footer {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    background-color: black;
    color: white;
    position:static;
    width:100%;
}

footer p {
    margin: 20px 120px;
    font-weight: bold;
    font-size: 20px;
}   

#footer-container {
    display:block;
}

#footer-attribution {
    margin: 20px 120px;
    font-size: 20px;

}

#footer-attribution a:visited, a:active, a:link {
    color: white;
}
/***********************/